.mySwiper {
  /* position: static; */
  padding-bottom: 85px;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  /* position: absolute; */
  color: black;
  top: 478px;
  z-index: 1000;
  width: 44px;
  height: 44px;
}

.mySwiper .swiper-button-prev {
  left: 476px;
  /* bottom: 40px; */
  z-index: 10000;
}

.mySwiper .swiper-button-next {
  right: 476px;
  bottom: 80px;
  z-index: 1000;
}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  font-size: 22px;
  font-weight: bold;
}

.mySwiper .swiper-pagination {
  bottom: 10px;
}

.mySwiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 2px !important; /* added */
}

.swiper-pagination-bullet-active {
  background-color: black;
}
